{% extends "base.html" %}
{% block menu %}
<td width="100%"></td>
{% endblock %}
{% block content %}
<p style="padding-top:50px">
<a href="/fr"><img src="/static/images/francais.jpg" alt="Francais" /></a>
<a href="/eng"><a href="/fr"><img src="/static/images/english.jpg" alt="English" /></a>
</p>
<p>
<img src="/static/images/photo_accueil_1.jpg" alt="Voyages..">
<img src="/static/images/photo_accueil_2.jpg" alt="Portraits..">
<img src="/static/images/photo_accueil_3.jpg" alt="Concepts..">
</p>
{% endblock %}